services:
  redis:
    image: redis:alpine
    ports: ["6379:6379"]

  rabbitmq:
    image: rabbitmq:3-management
    ports: ["5672:5672", "15672:15672"]
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  auth-service:
    build: ./auth-service
    env_file: [./auth-service/.env]
    # ports: ["3001:3001"] <-- REMOVED FOR SECURITY
    extra_hosts: ["host.docker.internal:host-gateway"]

  event-service:
    build: ./event-service
    env_file: [./event-service/.env]
    # ports: ["3004:3004"] <-- REMOVED FOR SECURITY
    extra_hosts: ["host.docker.internal:host-gateway"]

  order-service:
    build: ./order-service
    env_file: [./order-service/.env]
    # ports: ["3002:3002"] <-- REMOVED FOR SECURITY
    depends_on: [redis, rabbitmq]
    extra_hosts: ["host.docker.internal:host-gateway"]

  payment-service:
    build: ./payment-service
    env_file: [./payment-service/.env]
    # ports: ["3003:3003"] <-- REMOVED FOR SECURITY
    depends_on: [rabbitmq]
    extra_hosts: ["host.docker.internal:host-gateway"]

  gateway:
    build: ./gateway
    env_file: [./gateway/.env]
    ports: ["3000:3000"] # PUBLIC ENTRY POINT
    depends_on:
      [auth-service, order-service, payment-service, event-service, redis]
